.main-content .navbar-top {
    background-color: #5e72e4
}

.nav-bar-height {
    height: 140px;
}

.list-account:hover,
.list-account-dropdown:hover{
    background-color: #BBBBBB;
}

.position-relative {
    position: relative;
}

.right-element {
    position: absolute;
    right: 5%;
}

.left-element {
    position: absolute;
    left: 5%;
}

.profile-icon {
    margin-top: 30px;
}

.btn-search {
    margin-top: 70px;
}

.pagination {
    position: absolute;
    top: 5px;
    right: 0;
}

.w-90 {
    width: 90%;
}

.pd-left-25 {
    padding-left: 25px;
}

.order-new:hover {
    background-color: transparent;
}

.order-processing:hover {
    background-color: #5e72e4;
    color: #fff;
}

.order-needhelp:hover {
    background-color: #fb6340;
    color: #fff;
}

.order-cancel:hover {
    background-color: #f5365c;
    color: #fff;
}

.order-tracking:hover {
    background-color: #11cdef;
    color: #fff;
}

.order-shipped:hover {
    background-color: #2dce89;
    color: #fff;
}

.modal-dialog {
    max-width: 700px;
}

.alert-missing-info {
    width: 75%;
    margin: 10px auto;
    text-align: center;
    white-space: nowrap;
}

.alert-missing-info .close,
.alert-notice .close {
    right: 5px;
    top: 45%;
}

.alert-notice {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    word-break: break-word;
}

.role-check {
    display: inline;
    position: absolute;
    left: 25%;
}

.shipping_information {
    max-width: 396px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.margin-top-15 {
    margin-top: 15px;
}
